@use 'color';
@use 'variable' as var;

* {
    color: color.$font-base;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: color.$base-bg;
    box-sizing: border-box;
}

h1 {
    font-size: 58px;
    white-space: nowrap;
}
h2 {
    font-size: 48px;
}
h3 {
    padding-left: 12px;

    font-size: 24px;

    border-left: #585555 solid 8px;
}


main {
    width: 75vw;
    min-height: 100vh;

    margin: 0 auto;
}

.center-align {
    text-align: center;
}

.page-hero {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-flow: column;

    height: calc(100vh - 64px);
}

.main-contents {
    & section {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-flow: column;

        min-height: 50vh;

        
        &:nth-child(2n+1) {
            background-color: rgba($color: white, $alpha: 0.7);
        }
    }

}

.list-container {
    & ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;

        flex-wrap: wrap;

        padding: 0;

        list-style: none;
    }
}

.work-introduction {
    display: flex;
    align-items: center;

    flex-flow: column;

    margin: 0 4px;

    width: 320px;
}

@media screen and (max-width: 640px) {
    main {
        width: 100%;
    }
}